.copy,
.mailus {
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
  transition: 150ms ease-in;
}
/* about me editor */
.demo-editor,
.rdw-editor-toolbar {
  border: 2px #e5e7eb solid;
  font-size: 1rem;
}
.demo-editor {
  min-height: 200px;
}

.doGray {
  background: #c8c8c8;
  pointer-events: none;
}

.disable-btn {
  pointer-events: none;
}

.App.hide {
  overflow: hidden;
  height: 100vh;
  user-select: none;
}

.disableHeaderColor {
  background-color: #c8c8c8;
}
